/* Used on Index Page & ModalResults */
.button-mode-1 {
  background: #596192;
  box-shadow: 0 .4rem 3.5rem #596192;
  border-radius: .5rem;

  font-weight: 500;
  font-size: 1.1rem;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;

  padding: 2.2rem 5rem;
  width: 100%;
  max-width: 19.5rem;

  position: relative;
  z-index: 0;

  &_highlighted {
    background: #9F64FF;
    box-shadow: 0 .4rem 3.5rem rgba(197, 91, 234, 0.41);
  }
  &_negative {
    background: #FFFFFF;
    color: #373E65;
  }
}
/* Common button */
.button-mode-3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  //width: 16rem;
  height: 4rem;
  padding: 0 1.2rem 0;

  background: #1F1F1F;
  border-radius: 5px;

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 59.2%;
  letter-spacing: 0.3px;
  color: #878787;
  text-transform: uppercase;

  &_highlighted {
    background: #754FE0;
    color: #FFFFFF;
  }
  &_dark {
    background: #141415;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
  &_bright {
    background: #9F64FF;
    box-shadow: 0 .4rem 3.5rem rgba(197, 91, 234, 0.41);
  }

  &_tiny {
    height: 2.7rem;
  }
  &_medium {
    height: 3.2rem;
  }
  &_align_center {
    justify-content: center;
  }

  .button-mode-3__icon {
    width: 1.6rem;
    height: 1.6rem;

    margin-right: 1.2rem;
    filter: grayscale(1)
  }
}
