@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url('../fonts/franklingothic_demi.ttf') format('opentype');
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Black.eot');
  src: local('Gotham Pro Black'), local('fonts/GothamPro-Black'),
  url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Black.woff') format('woff'),
  url('../fonts/GothamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Bold.eot');
  src: local('Gotham Pro Bold'), local('fonts/GothamPro-Bold'),
  url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Bold.woff') format('woff'),
  url('../fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.eot');
  src: local('Gotham Pro'), local('fonts/GothamPro'),
  url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Medium.eot');
  src: local('Gotham Pro Medium'), local('fonts/GothamPro-Medium'),
  url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Medium.woff') format('woff'),
  url('../fonts/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Light.eot');
  src: local('Gotham Pro Light'), local('fonts/GothamPro-Light'),
  url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Light.woff') format('woff'),
  url('../fonts/GothamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bahnschrift';
  src: url('@/assets/fonts/Bahnschrift.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 10px;
}
body {
  //font-family: 'Manrope', sans-serif;
  // font-family: 'Roboto', sans-serif;
  //font-family: 'Aldrich', sans-serif;
  font-family: 'Bahnschrift', sans-serif;
  overflow-x: hidden;
  &.scroll-lock {
    overflow: hidden;
  }
}

.select-none {
  user-select: none;
  -webkit-user-drag: none;
}
.container {
  // max-width: 1880px;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}
button, a {
  cursor: pointer;
}
button {
  border: none;
  background: none;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  font-family: 'Bahnschrift', sans-serif;
}
svg.sprite-icons {
  max-width: 100%;
}
.modal-dialog {
  background: none !important;
  box-shadow: none !important;
}
.modal {
  position: relative;
  z-index: 0;
  &-wrapper {
    position: relative;
    height: 100%;
    padding: 4rem 0;
  }
  &__close-space {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &__body {
    position: relative;
    z-index: 1;
    margin: 0 auto;
  }
}
#modals-container .vm--overlay {
  background: rgba(0, 0, 0, 0.5);
}
#modals-container .vm--modal {
  overflow: visible;
}

.methods__price-name__strong {
  font-size: 14px;
  line-height: 135.2%;
  /* or 19px */

  text-align: center;
  letter-spacing: 0.3px;
  font-weight: 700;
  color: #fff;
}
@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
}
